 * {
   margin: 0px;
   padding: 0px;
 }

 body {
   font-family: "Times News Roman", Helvetica, Lucida, sans-serif;
   font-size: 16px;
   background: #FFF url('../img/fundo.png') repeat-x;
 }

 p {
   margin-bottom: 8px;
 }

 .container {
   width: 750px;
   margin: 0px auto;
 }

 .topo {
   height: 150px;
   padding-top: 30px;
   margin-bottom: 60px;
   background: url('../img/detalhe-topo.png') no-repeat right top;
 }

 #logo {
   width: 152px;
   height: 66px;
   text-indent: -3000px;
   background: url('../img/logo.png') no-repeat;
 }

 /*Barra de navegação*/
 ul {
   list-style-type: none;
 }

 .topo ul {
   background-color: #B10333;
   float: left;
   margin-top: 30px;
 }

 .topo li {
   float: left;
 }

 .topo li a {
   display: block;
   padding: 8px 17px;
   line-height: 35px;
   text-decoration: none;
   color: white;
   background: url('../img/divisor.png') no-repeat left center;
 }

 .topo li a:hover {
   color: #610B21;
 }

 .seleciona {
   background-color: #DF013A;
 }

 #remove {
   background: none;
 }

 /*Colunas*/
 .primario {
   width: 270px;
   margin: 0 0 20px 195px;
   float: left;
 }

 .secundario {
   width: 270px;
   margin: 0 0 20px 15px;
   float: left;
 }

 .lateral {
   width: 180px;
   margin: 0 0 20px -750px;
   float: left;
 }

 .duas-colunas .primario {
   width: 555px;
 }

 .uma-coluna .primario {
   width: 750px;
   margin: 0 0 20px 0;
   float: none;
 }

 /*Caixa*/
 .caixa {
   margin-top: 10px;
   padding: 5px;
   background: #f2f2f2 url('../img/fundo-caixa.png');
 }

 .caixa-conteudo {
   background: white;
   margin-top: 5px;
   padding: 5px;
 }

 h3 {
   font-size: 20px;
   color: white;
   background: #294C71;
   padding: 5px;
 }

 h4 {
   font-size: 14px;
   text-transform: uppercase;
   display: inline-block;
   padding: 3px;
   margin-bottom: 3px;
   background-color: #B10333;
 }

 .branco {
   color: white;
 }

 .caixa-conteudo img {
   width: 100%;
 }

 .caixa-conteudo a {
   text-decoration: none;
   color: #B10333;
 }

 .caixa-conteudo a:hover {
   text-decoration: underline;
 }

 .lateral .caixa-conteudo a {
   display: block;
   color: black;
   padding: 10px;
   text-decoration: none;
 }

 .lateral .caixa-conteudo a:hover {
   color: #A1A1A1;
   padding-left: 20px;
   background: url('../img/marcador.png') no-repeat left center;
   transition-duration: 0.1s;
 }

 #formulario input[type="text"] {
   width: 90%;
   height: 30px;
   padding: 3px;
   border: 1px solid #ccc;
   margin-top: 3px;
 }

 #formulario input[type="submit"] {
   background: #B10333;
   border-color: #8A0829;
   padding: 3px;
   margin-top: 1px;
   color: white;
 }

 /*Caixa em lista*/
 .caixa-lista ul li {
   height: 55px;
   font-size: 14px;
   margin-top: 5px;
   border-bottom: 1px solid #ccc;
 }

 .caixa-lista ul li:nth-last-child(1) {
   border: none;
 }

 .caixa-lista ul li a {
   color: black;
 }

 .caixa-lista ul li a h5 {
   color: #0489B1;
 }

 .caixa-lista ul li a:hover {
   text-decoration: none;
 }

 .caixa-lista ul li a img {
   width: 70px;
   float: left;
   margin-right: 10px;
 }




 /*Rodape*/
 .rodape {
   clear: both;
   line-height: 150px;
   color: white;
   background: #294C71;
 }
